<div class="card m-4" style="width: 18rem;" [ngClass]="getClassName()">
  <div class="card-header">
    {{ group.name }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"
        *ngFor="let user of group.usersArr"
    > {{ user.name }}</li>
  </ul>
</div>
