<h4>Create new user</h4>

<form (ngSubmit)="createUser()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      #nameInput
    />
  </div>

  <div class="form-group">
    <label for="name">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      class="form-control"
      #emailInput
    />
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="active" value="true" #activeInput>
      <label class="form-check-label" >
        Is active
      </label>
    </div>
  </div>

  <div class="form-group">
    <select class="form-select" #roleSelect>
      <option selected>Role</option>
      <option value="user">User</option>
      <option value="admin">Admin</option>
      <option value="editor">Editor</option>
    </select>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
  >Create</button>
</form>
