<h4>Create new group</h4>
<form (ngSubmit)="createGroup()">
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Name" #nameInput>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
