<div class="container mb-5 mt-2">
  <div class="btn-group " role="group" >
    <button class="btn btn-primary mr-5" value="manage" (click)="showCreateComponent()" >Manage</button>
    <button class="btn btn-secondary" value="userGroup" (click)="showUsersAndGroupsComponent()">Users and Groups</button>
  </div>
</div>

<div class="container d-flex justify-content-between" >
  <div class="create" *ngIf="showComponent === ''">
    <app-new-user></app-new-user>
    <hr>
    <app-new-group></app-new-group>
  </div>
  <app-users *ngIf="showComponent === ''"></app-users>
  <app-groups *ngIf="showComponent === ''"></app-groups>
</div>

<div class="container d-flex justify-content-between" >
  <div class="create" *ngIf="showComponent === 'manage'">
    <app-new-user></app-new-user>
    <hr>
    <app-new-group></app-new-group>
  </div>
  <app-users *ngIf="showComponent === 'userGroup'"></app-users>
  <app-groups *ngIf="showComponent === 'userGroup'"></app-groups>
</div>




