<div class="d-flex m-3" (click)="onClick()">
  <div class="card" style="width: 13rem;">
    <img src="https://cdn.icon-icons.com/icons2/2506/PNG/512/user_icon_150670.png" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{ user.name }}</h5>
      <p class="card-text">{{ user.email }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Is active: {{ check() }}</li>
        <li class="list-group-item">Role: {{ user.role }}</li>
      </ul>
    </div>
  </div>
</div>
